<button href="#/movies" type="button" class="back"><a href="#/movies">Go Back</a></button>
<div class="panel panel-default" ng-init="getMovie()">
    <div class="panel-heading">
        <h3 class="panel-title">{{movie.title}}</h3>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <img ng-src="{{movie.img_url}}">
                <a href="{{movie.watch_url}}" class="btn btn-primary" target="_blank">Watch now</a>
            </div>
            <div class="col-md-8">
                <p>{{movie.description}}</p>
                <hr>
                <ul class="list-group">
                    <li class="list-group-item">Genre: {{movie.genre}} {{movie.genre_2}} {{movie.genre_3}}</li>
                    <li class="list-group-item">Release Year: {{movie.year}}</li>
                    <li class="list-group-item">Runtime: {{movie.runtime}}</li>
                    <li class="list-group-item">IMDb Score: {{movie.imdb_score}}</li>
                    <li class="list-group-item">Metascore: {{movie.metascore}}</li>
                    <li class="list-group-item">Rated: {{movie.rated}}</li>
                    <li class="list-group-item">Directed by: {{movie.director}}</li>
                    <li class="list-group-item">Writing Credits: {{movie.writer}}</li>
                    <li class="list-group-item">Stars: {{movie.stars}}</li>
                    <li class="list-group-item">IMDb: <a href="{{movie.imdb_url}}" target="_blank">{{movie.imdb_url}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="pull-right">
    <a href="#/movies/edit/{{movie._id}}">Edit</a>  |  <a href="#" ng-click="removeMovie(movie._id)">Delete</a>
</div>
